<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="org.bran.branroom.entity"/>
	</typeAliases>
	
	<!-- 用于支持java8中的time包 -->
	<typeHandlers>  
	    <typeHandler handler="org.apache.ibatis.type.InstantTypeHandler" />  
	    <typeHandler handler="org.apache.ibatis.type.LocalDateTimeTypeHandler" />  
	    <typeHandler handler="org.apache.ibatis.type.LocalDateTypeHandler" />  
	    <typeHandler handler="org.apache.ibatis.type.LocalTimeTypeHandler" />  
	    <typeHandler handler="org.apache.ibatis.type.OffsetDateTimeTypeHandler" />  
	    <typeHandler handler="org.apache.ibatis.type.OffsetTimeTypeHandler" />  
	    <typeHandler handler="org.apache.ibatis.type.ZonedDateTimeTypeHandler" />  
	</typeHandlers>

	<settings>
		<setting name="cacheEnabled" value="true"/>
	</settings>
</configuration>