<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
	
	<!-- Enable annotation scanning ,MVC scan for @Controller only -->
	 <context:component-scan base-package="org.bran.branroom" use-default-filters="false">
        <!-- sacn for@Controller -->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>
	
	<!-- viewResolver  视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/" />
        <property name="suffix" value=".jsp" />
    </bean>
    
    <!--  static resources mapping 静态资源映射 -->
    <mvc:resources mapping="/static/**" location="/static/"/>

    <mvc:resources location="/" mapping="/**/*.html"/>
    <mvc:resources location="/" mapping="/**/*.js"/>
    <mvc:resources location="/" mapping="/**/*.css"/>
	<mvc:resources location="/" mapping="/**/*.jpg"/>
	<mvc:resources location="/" mapping="/**/*.png"/>

	<!-- 拦截器 -->
	<mvc:interceptors>
		<!-- 登录拦截器 -->
		<mvc:interceptor>
			<!-- 需要拦截的路径 -->
			<mvc:mapping path="/**"/>
			<!-- 排除拦截的地址 -->
			<mvc:exclude-mapping path="/static/**"/>
			<bean id="LoginInterceptor" class="org.bran.branroom.interceptor.LoginInterceptor">
				<property name="urlIgnore">
					<list>
						<value>/signIn</value>
						<value>/login</value>
						<value>/signUpPage</value>
						<value>/check</value>
						<value>/signUp</value>
					</list>
				</property>
			</bean>
		</mvc:interceptor>
		
		<!-- 防止重复登录拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="/login"/>
			<mvc:mapping path="/signUpPage"/>
			<bean id="antiDupLoginInterceptor" class="org.bran.branroom.interceptor.AntiDupLoginInterceptor">
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>
	
	
   <!-- enable annotation model 开启注解模式 -->
	<mvc:annotation-driven />
    
    
    
</beans>