<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bran.branroom.dao.BlogDao">

    <sql id="blog_model">
        id, title, author, content, posttime, updatetime
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into blog
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="author != null">
                author,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="posttime != null">
                posttime,
            </if>
            <if test="updatetime != null">
                updatetime
            </if>
        </trim>
        values(#{title},#{author},#{content},#{posttime},#{updatetime})
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="title != null">
                #{title},
            </if>
            <if test="author != null">
                #{author},
            </if>
            <if test="content != null">
                #{content},
            </if>
            <if test="posttime != null">
                #{posttime},
            </if>
            <if test="updatetime != null">
                #{updatetime}
            </if>
        </trim>
    </insert>

    <select id="queryBlogByAuthor" resultType="Blog">
        select
        <include refid="blog_model"/>
        from blog where author like CONCAT(CONCAT("%",#{userid}),"%")
    </select>

    <select id="queryBlogByTitle" resultType="Blog">
        select
        <include refid="blog_model"/>
        from blog where title like CONCAT(CONCAT("%",#{title},"%"))
    </select>

    <select id="queryById" resultType="Blog">
        select
        <include refid="blog_model"/>
        from blog where id=#{id}
    </select>

    <select id="queryCountByAuthor" resultType="Integer">
        select count(id) from blog where author = #{author}
    </select>

    <select id="queryBlogByPage" parameterType="Map" resultType="Blog">
        select
        <include refid="blog_model"/>
        from blog
        <if test="author!=null">
            where author = #{author}
        </if>
        order by id desc
        <if test="offset!=null and size!=null">
            limit #{offset} , #{size}
        </if>
    </select>

    <select id="queryAll" resultType="Blog">
        select
        <include refid="blog_model"/>
        from blog
    </select>

    <delete id="delete">
        delete from blog where id=#{id}
    </delete>

    <update id="update">
        update blog set
        <if test="title != null">
            title=#{title},
        </if>
        <if test="content !=null">
            content=#{content},
        </if>
        <if test="posttime != null">
            posttime=#{posttime},
        </if>
        <if test="updatetime!=null">
            updatetime=#{updatetime}
        </if>
=        where id=#{id}
    </update>
</mapper>